<!DOCTYPE html>
<html lang="kor" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>MAIN PAGE</h1>

</body>
<script>
    const url = "http://localhost:8081/api/sse/connect";
    const eventSource = new EventSource(url); /// sse 연결

    /// sse 최초 응답을 받았을 때
    eventSource.onopen = event => {
        console.log("sse connect : ");
        console.log(event);
    }

    /// 서버로부터 받은 데이터
    eventSource.onmessage = event => {
        console.log("receive data : ");
        console.log(event);
    }
</script>
</html>